<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Login One</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


    <!-- Carregando BootStrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/login/login_one.css" />
</head>

<body>
    <header>

    </header>
    <section class="text-center-page card-center p-5">
        <section class="row">
            <section class="col-lg-12">
                <img src="../../img/login_user_1.png" width="30%" alt="Imagem usuário de login" />
            </section>
            <section class="col-lg-12">
                <h1>Bem-Vindo por favor efetue Login</h1>
                <h5>Desta forma vamos lhe autenticar em nosso site</h5>
            </section>
            <section class="col-lg-12 ">
                <section>
                    <label>Email/Usuário</label><br>
                    <input type="email" placeholder="Entre com o e-mail ou usuário">
                </section>
                <section>
                    <label>Senha</label></br>
                    <input type="password" placeholder="Senha">
                </section>
            </section>
            <section class="col-lg-12">


                <section class="col-lg-12 p-2">
                    <button type="button" class="btn btn-sm btn-success ">Logar</button>
                </section>
                <section class="col-lg-12">
                    <label>Esqueci minha senha clique <a href="#">aqui</a></label>
                </section>
            </section>

        </section>
    </section>

    <!-- Carregando JS -->

    <script src="../../js/jquery-3.6.0.min.js"></script>

    <script src="../../js/bootstrap.min.js"></script>
</body>

</html>