<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>404 error</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


    <!-- Carregando BootStrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/404Error-pageOne.css" />

</head>

<body style="background-color: #191A19; font-family: Rubik;">
    <header>

    </header>
    <section class="text-center-page">
        <section class="row">
            <section class="text-center col-lg-6 ">
                <section class="notfound">
                    <section class="notfound-404">
                        <h3 >Oops! Página não encontrada</h3>
                        <h1><span>4</span><span>0</span><span>4</span></h1>
                    </section>
                </section>
                <section>
                    <h5 >Desculpa mas a página procurada não foi encontrada</h1>
                </section>
                <section>
                    <button class="btn btn-sm btn-danger" type="button">Voltar para
                        Home</button>
                    <button class="btn btn-sm btn-warning btn-radius"  type="button">Entre em
                        contato</button>
                </section>
            </section>
            <section class=" text-center col-lg-6"><img src="../../img/404.png" width="80%"></section>
        </section>
    </section>


    <!-- Carregando JS -->

    <script src="../../js/jquery-3.6.0.min.js"></script>

    <script src="../../js/bootstrap.min.js"></script>
</body>

</html>